    body{
        margin: 0;
    }
    * {
        padding: 0;
        margin: 0;
        border: 0;
    }
    .psevdo__header{
        max-height: 95px;
        height: 100vw;
        width: 100%;

    }
    .vert_phone{

        max-width: 215px;
        max-height: 458px;
        width: 21vw;
        height: 46vw;


    }
    .horizont__phone{
        max-width: 458px;
        max-height: 215px;
        width: 46vw;
        height: 21vw;
    }


    wrap {
        margin: 10px auto;
        width: 100%;
        max-width: 700px;
    }
    /* MAIN STYLES */
    .b-carousel {
        width: 100%;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
    }

    .b-carousel__prev{
        position: absolute;
        width: 16px;
        height: 27px;
        cursor: pointer;
        left: 4%;;
        transition: 0.2s;
        z-index: 100;
        top: 50%;
    }
    .b-carousel__next{
        position: absolute;
        width: 16px;
        height: 27px;
        cursor: pointer;
        right: 4%;
        transition: 0.2s;
        top: 50%;
        z-index: 4;
    }
    .b-carousel__next {
        left: auto;
        right: 20px;
    }

    .b-carousel__wrap {
        display: flex;
        transition: transform .5s;
        will-change: transform;
        position: relative;
        z-index: 1;
        height: 60vw;
        max-height: 600px;
    }

    .b-carousel__item {
        flex: 0 0 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .b-carousel__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }



    .s-notransition {
        transition: 0s;
    }


    .slider {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 591px;
    }

    .button-modal{
        padding: .5em .7em;
        border: 1px solid #8d8d8d;
        background-color: white;
        font-size: 1em;
    }

    .top-banner {
        padding: 1em 0;
        background-color: #ffd698;
    }

    .top-banner-inner {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }

    .modal {
        display: none;

    }

    .modal__title {
        color: red;
        margin-bottom: 15px;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-body {
        position: fixed;
        top: 3em;
        bottom: 3em;
        right: 20%;
        left: 20%;
        padding: 2em 3em;
        background-color: white;
        overflow: auto;
        z-index: 200;
    }

    .modal-body > * + * {
        margin-top: 15px;
    }

    .modal-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.3em;
        font-size: 2em;
        height: 1.5em;
        width: 1.5em;
        cursor: pointer;
        border: 0;
    }
    .modal-close::before {
        display: block;
        content: '\00D7';
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
    }
    .header{
        background-color: #2d303a ;
        width: 100%;
        height: 89px;
        position: fixed;
        border-bottom:solid #323746 6px;
        z-index: 200;


    }

    .wrapper{
        margin: 0 auto;
        background-color: #2d303a ;
        max-width: 1020px;
        align-items: center;
        height: 89px;
        display: flex;
        justify-content: space-between;

    }
    .logo{
        margin-bottom:0 ;
        margin-top:25px;
        margin-left: 37px;
        display:inline-block ;

    }
    .logo__link{
        font-size:25px ;
        font-family: LatoBold;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 6px;
    }
    .logo_star{
        color: #e66862;
    }
    .navigation{
        float: right;
        width: 373px;
        justify-content: space-between;
        display: flex;
        margin-top: 46px;
        margin-right: 37px;



    }
    .nav__li{
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        font-family: "LatoBold";
        font-size: 12px;
        list-style-type: none;
        line-height: 6px;
        letter-spacing: 0.01px;

    }
    .dot::before {
        content: "·";
        margin: 9px;
        color: #494e62;
    }
    .slider__bg{
        background-color: #f06c64;
        width: 100%;
        border-bottom: solid #ea676b 6px ;
    }

    .black__display__visible{
        height: 335px;
        width: 189px;
        background-color: black;
        position: absolute;
        margin-left: 248px;
        margin-top: 118px;
        display: block;
        z-index: 5;
    }
    .horizont__phone__display{
        width: 336px;
        height: 190px;
        position: absolute;
        background-color: black;
        margin-left: 605px;
        margin-top: 187px;
        z-index: 5;
    }
    .slider__image{
        width: 100%;
    }
    .horizont__phone__display__hidden{
        display: none;
        z-index: 5;
    }
    .black__display__hidden{
        display: none;
        height: 335px;
        max-width: 189px;
        background-color: black;
        position: absolute;
        margin-left: 247px;
        margin-top: 117px;
        z-index: 4;
    }
    .slider__wrapper{
        margin: 0 auto;
        max-width:1020px;
        height: 594px;
        background-color: #f06c64;
    }

    .services__bg{
        width: 100%;
        background-color: #f2f2f2;

        border-bottom: solid #ffffff 6px;
    }
    .services__wrapper{
        max-width: 1020px;
        background-color: #f2f2f2;
        margin: 0 auto;
        float: top;

    }
    .h2__services{
        font-family: "LatoBlack";
        color: #666d89;
        font-weight: 900;
        font-size: 30px;
        line-height: 18px;
        padding-bottom: 27px;
    }
    .services__paragraph{
        font-family:LatoLight;
        font-weight: 300;
        color: #767e9e;
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
    }
    .services__text{
        padding-top: 69px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .first__div{
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 40px;
        margin-bottom: 70px;
        max-width: 1020px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .second__div{
        width: 1020px;
        display: flex;
        justify-content: space-between;

        margin-top: auto;
    }
    .left__top__block{
        margin-left: 38px;
    }
    .right__top__block{
        margin-right: 40px;
    }
    .bottom__center__block{

    }
    .right__bottom__block{
        margin-right: 40px;
    }
    .left__bottom__block{
        margin-left: 38px;
    }
    .div__settings{

        width: 305px;
        height: 90px;
        margin: 5px;
        margin-bottom: 25px;


    }
    .bottom__div__settings{
        width: 305px;
        height: 90px;
        margin: 5px;
        margin-bottom: 25px;
    }
    .container{

        width: 230px;
        height: 90px;
        float: right;
    }
    .heading{
        font-size: 18px;
        line-height: 18px;
        color: #666d89;
        font-family: "LatoBlack";
        font-weight: 900;
        text-align: left;
        margin-left: 6px;
        margin-top: 1px;
    }
    .last__heading{
        font-size: 18px;
        line-height: 18px;
        color: #666d89;
        font-family: "LatoBlack";
        font-weight: 900;
        text-align: left;
        margin-top: 1px;
        margin-left: 9px;

    }
    .services__paragraphs{
        font-family: "LatoRegular";
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        color: #767e9e;
        margin-left: 6px;
        margin-top: 9px;


    }
    .right__paragraphs{
        margin-left: 8px;
        font-family: "LatoRegular";
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        color: #767e9e;
        margin-top: 9px;

    }

    .pictures__bg{
        background-color: #2d2f3b;
        width: 100%;
        border-bottom: solid 6px #323746;
    }
    .wrapper__pictures{
        background-color: #2d2f3b;
        max-width: 1020px;
        margin: 0 auto;
    }

    .pictures__heading{
        font-size: 30px;
        line-height: 18px;
        color: #666d89;
        font-family: "LatoBlack";
        font-weight: 900;
        text-align: left;
        padding: 0 40px 0 40px;
    }


    .pictures__paragraph{
        color: #767e9e;
        font-size: 18px;
        line-height: 30px;
        font-family: "LatoLight";
        font-weight: 300;
        margin-top: 26px;
        text-align: justify;
        padding: 0 40px 0 40px;

    }

    .container__singolo2{
        max-width: 940px;
        margin: 0 auto;

    }
    .header__singolo2{
        padding-top: 70px;
    }
    .buttons{
        margin-left: 1px;
        margin-top: 10px;
        height: 22px;
        width: 287px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 40px 0 40px;


    }
    .button{
        border: 1px solid #666d89 ;
        background-color: #2d2f3b;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        transition: 0.2s;
        font-size: 12px;
        color: #767e9e;
        font-family: "LatoRegular";
        font-weight: 400;
        padding-top: -1px;
        outline:none;
    }


    .first__button{
        width: 29px;
    }
    .second__button{
        width: 78px;
        margin-left: -1px;
    }
    .third__button{
        width: 94px;
        margin-left: -1px;
    }
    .fourth__button{
        width: 57px;
    }
    .portfolio__img{

        width: 100%;
        height: 100%;
    }
    .picture{
        list-style-type: none;
        margin: 6px 20px 10px 0px;
        flex: 1 0 20%;
    }
    .pictures__container{
        margin-top: 19px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        padding: 0 40px 0 40px;
    }
    .picture:nth-child(n+13){
        display: none;
    }

    .about__bg{
        background-color: #f2f2f2;
        width: 100%;
    }
    .about__container{
        max-width: 940px;
        margin: 0 auto;
        padding-bottom: 69px;


    }
    .columns__img{
        width: 100%;
    }
    .columns__container{
        display: flex;
        padding: 0 40px 0 40px;
    }
    .about__columns{
        width: calc((100% - 20px * 2) / 3);;
        margin-right: 20px;
        float: left;
        margin-top: 50px;

    }
    .about__wrapper{
        background-color: #f2f2f2;
        max-width: 1020px;

        margin: 0 auto;
    }
    .about__heading{
        font-size: 30px;
        line-height: 18px;
        color: #666d89;
        font-family: "LatoBlack";
        font-weight: 900;
        padding-top: 68px;
        padding-right: 40px;
        padding-left: 40px;

    }
    .about__paragraph{
        font-size: 18px;
        line-height: 30px;
        color: #767e9e;
        font-family: "LatoLight";
        font-weight: 300;
        text-align: justify;
        padding-top: 28px;
        padding-right: 40px;
        padding-left: 40px;
    }
    .about__bottom{
        margin-top: 47px;
        display: flex;


    }
    .center__picture {
        width: 300px;
        background-image: url("./assets/desmond.png");
        margin-left: 19px;
    }

    .right__picture{
        background-image: url("./assets/scolara.png");
        width: 300px;
        margin-left: 21px;
    }

    .about__bottom__description{
        margin-top: 19px;
        display: flex;
        justify-content: space-between;

    }
    .description__heading{
        font-size: 18px;
        line-height: 18px;
        color: #666d89;
        font-family: "LatoBlack";
        font-weight: 900;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 4%;


    }
    .description__paragraph{
        font-size: 12px;
        line-height: 22px;
        color: #767e9e;
        font-family: "LatoRegular";
        font-weight: 400;
        margin-top: 3%;
        text-align: justify;

    }
    .about__social{
        display: flex;


    }

    .social {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        width: 154px;

    }
    .social__icons{
        cursor: pointer;
    }
    .wrapper__singolo3{
        background-color: #f06c64;
        max-width: 1020px;
        margin: 0 auto;


    }
    .main__bg__singolo3{
        width: 100%;
        background-color: #f06c64;
        border-bottom:solid  6px  #ea676b;
        margin-top: 6px;
    }
    .form__text{
        padding-top: 68px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .form__heading{
        font-size: 30px;
        line-height: 18px;
        color: #f0d8d9;
        font-family: "LatoBlack";
        font-weight: 900;
        text-align: left;
    }
    .form__paragraph{

        font-size: 18px;
        line-height: 30px;
        color: #f0d8d9;
        font-family: "LatoLight";
        font-weight: 300;
        text-align: justify;
        margin-top: 27px;
    }
    .form__container{
        display: flex;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 46px;


    }
    .forms{
        max-width: 620px;
        width: 62vw;
        display: flex;
        flex-direction: column;

    }
    .contacts{
        max-width: 360px ;


    }
    .other__forms{
        margin-top: 14px;
    }
    .third__forms{
        margin-top: 15px;
    }
    .fourth__form{
        margin-top: 16px;
    }


    .form{

        height: 38px;
        padding-left: 14px;
        background-color: #d6564f;
        font-size: 12px;
        line-height: 22px;
        border-radius: 5px;
        color: #f48c8f;
        font-family: "LatoRegular";
        font-weight: 400;
        border: 0;

    }
    input::placeholder{
        color: #f48c8f;
    }

    input,
    input:active,
    input:focus {
        outline: none;
    }
    textarea,
    textarea:active,
    textarea:focus {
        outline: none;
    }
    textarea::placeholder{
        color: #f48c8f;
    }
    .form__button{
        width: 75px;
        height: 25px;
        margin-top: 10px;
        background-color: #d6564f;
        font-size: 12px;
        border-radius: 5px;
        color: #f48c8f;
        font-family: "LatoRegular";
        font-weight: 400;
        border: 0;

    }
    .textarea{
        height: 202px;
        padding-left: 14px;
        background-color: #d6564f;
        font-size: 12px;
        line-height: 34px;
        border-radius: 5px;
        color: #f48c8f;
        font-family: "LatoRegular";
        font-weight: 400;
        border: 0;
        resize: none;


    }
    .reqired__inputs:invalid{
        border: 1px solid red;
        background-color: #d6564f;
        font-size: 12px;
        line-height: 22px;
        border-radius: 5px;
        color: #f48c8f;
        font-family: "LatoRegular";
        font-weight: 400;
    }
    .reqired__inputs:valid{
        border: 1px solid greenyellow;
        background-color: #d6564f;
        font-size: 12px;
        line-height: 22px;
        border-radius: 5px;
        color: #f48c8f;
        font-family: "LatoRegular";
        font-weight: 400;
    }
    .contacts__paragraph{
        font-size: 12px;
        line-height: 21px;
        color: #f0d8d9;
        font-family: "LatoRegular";
        font-weight: 400;
        margin-left: 19px;
        margin-top: 10px;
        text-align: justify;
    }

    .contacts__heading{
        font-size: 18px;
        line-height: 18px;
        color: #f0d8d9;
        font-family: "LatoBlack";
        font-weight: 900;
        margin-top: 1px;
        margin-left: 18px;

    }
    .under__contacts__paragraph{
        font-size: 12px;
        line-height: 22px;
        color: #f0d8d9;
        font-family: "LatoRegular";
        font-weight: 400;
        margin-left: 13px;


    }
    .second__under__contacts__paragraph{
        font-size: 12px;
        line-height: 22px;
        color: #f0d8d9;
        font-family: "LatoRegular";
        font-weight: 400;
        margin-left: 11px;
        text-decoration: none;
    }
    .under__contacts{
        display: inline-block;
    }
    .under__contacts__container{
        margin-top: 0px;
        display: flex;
        width: 200px;
        align-content: center;

    }
    .third__under__contacts__paragraph{
        font-size: 12px;
        line-height: 22px;
        color: #f0d8d9;
        font-family: "LatoRegular";
        font-weight: 400;
        margin-left: 10px;
        text-decoration: none;
    }
    .first__under__contacts__container{
        margin-top: 23px;
        display: flex;
        width: 200px;
        align-content: center;
    }

    .contacts__img{
        height: 11px;
        width: 7px;
        margin-top: 6px;
        margin-left: 23px;
    }
    .second__contacts__img{
        height: 11px;
        width: 11px;
        margin-top: 5px;
        margin-left: 21px;
    }
    .third__contacts__img{
        height: 8px;
        width: 13px;
        margin-top: 8px;
        margin-left: 20px;
    }
    .footer__bg{
        background-color: #2d303a;
        width: 100%;

    }
    .footer__wrapper{
        background-color: #2d303a;
        margin:  0 auto;
        max-width: 1020px;
        width: 100%;
    }
    .footer__paragraph{
        font-size: 12px;
        line-height: 6px;
        color: #666d89;
        font-family: "LatoRegular";
        font-weight: 400;
    }
    .footer__container{
        padding: 0 40px 0 40px;
        display: flex;
        justify-content: space-between;
        height: 76px;
        background-color: #2d303a;
    }
    .footer__paragraph{
        margin: auto 1.2px;
        margin-left: 41px;
    }
    .footer__contacts{
        height: 35px;
        margin-top: 21px;
        width: 155px;
        display: flex;
        justify-content: space-between;

    }
    .footer__social{
        align-content: center;

    }
    .first__icon{

    }
    .second__icon{
        margin-right: -1px;
    }
    .third__icon{
        margin-right: -1px;
    }
    .fourth__icon{
        margin-right: 1px;
    }
    
    @media (min-width: 768px) and (max-width: 1020px){
        .picture{
            flex: 1 0 25%;
        }
    }

    @media (min-width: 375px) and (max-width: 768px){
        .picture{
            flex: 1 0 35%;
        }
        .columns__container{
            flex-wrap: wrap;
            margin-bottom: 0px;

        }
        .about__columns{
            width: auto;
            margin-right: 0px;
            float: left;
            margin-bottom: 36px
        }

    }
    @media  (max-width:375px){
        .picture{
            flex: 1 0 35%;
        }
        .navigation{display: none}
        .logo{margin: 0 auto}
        .columns__container{
            flex-wrap: wrap;
            margin-bottom: 0px;

        }
        .about__columns{
            width: auto;
            margin-right: 0px;
            float: left;
            margin-bottom: 36px
        }
        .form__container{
            display: flex;
            flex-wrap: wrap;
        }
        .footer__paragraph{
            display: none;
        }
        .footer__container {
            justify-content: center;
        }
        .forms{
            width: 100%;
        }
        .form__button{
            width: 100%;
        }
        .contacts{
            width: 100%;
            max-width: 100%;
        }
        .contacts__heading{
            margin-left: 0px;
            margin-top: 45px;
        }
        .contacts__paragraph{
            margin-left: 0px;
        }
        .contacts__img{
            margin-left: 0px;
        }
        .second__contacts__img{
            margin-left: 0px;
        }
        .third__contacts__img{
            margin-left: 0px;
            padding-bottom: 25px;
        }

    }
    
    @font-face {
        font-family: "LatoBold";
        src:url("./assets/Lato-Bold.ttf");
    }
    @font-face {
        font-family: "LatoBlack";
        src:url("./assets/Lato-Black.ttf");
    }
    @font-face{
        font-family:"LatoLight";
        src:url("./assets/Lato-Light.ttf");
    }
    @font-face {
        font-family: "LatoRegular";
        src: url("./assets/Lato-Regular.ttf");
    }